{% extends "digital-land-frontend/dlf-base.html" %}
{%- from "digital-land-frontend/components/map/macro.html" import dlMap %}

{%- block beforeContent -%}
    {{ super() }}

    {{- govukBreadcrumbs({
    "items": [
        {
        "text": "Digital Land",
        "href": "/"
        },
        {
        "text": "Conservation area geographies"
        }
    ]
    }) -}}
{%- endblock -%}

{% block content %}

<h1 class="govuk-heading-xl">Conservation area geographies</h1>

<p class="govuk-body">Showing {{ conservation_areas|length }} records.</p>
<ul class="govuk-list govuk-list--bullet">
    {% for area in conservation_areas %}
    <li><a href="{{ urlRoot }}{{ area['id'] }}">{{ area['id'] }}</a></li>
    {% endfor %}
</ul>
{% endblock content %}
